@use './variables' as v;

#asobo {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;
    background: black;
    transition: .4s;
    opacity: 1;

    .asobo__str {
        animation: fade-blur 1s infinite;
        color: v.$white;
        position: absolute;
        top: 50vh;
        left: 50%;
        right: 50%;
        margin: 0;
        width: 170px;
        letter-spacing: 24px;
    }

    .asobo__img {
        position: absolute;
        top: 20vh;
        right: 0;
        left: 0;
        text-align: center;
        font-size: 18rem;
        margin: auto;
        filter: blur(2px);
        animation: asobo 3s steps(10) infinite;
        -webkit-animation: asobo 3s steps(10) infinite;
        color: v.$red;

        &.ah {
            right: 30rem;
            top: 7rem;
            filter: blur(3px);
        }

        &.so {
            right: 18rem;
            top: 30rem;
            transform: scaleY(1.3);
        }

        &.bo {
            left: 9rem;
            filter: blur(4px);
        }
    }

    &.asobo__isLoaded {
        opacity: 0;
        visibility: hidden;
    
    }

    // SP
    @media screen and (max-width: v.$spSize) {
        .asobo__str {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            text-align: center;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: max-content;
        } 
    }
}