@use './variables.scss' as v;

html {
    font-size: 62.5%;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
}

body {
    font-size: 1.4rem;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    background: url(../img/label_bg.svg) no-repeat center;
    padding: 2.25rem;
    z-index: 1;
    position: relative;
}

p {
    line-height: 2.2;
}

a {
    color: #2D479C;
}

.contents {
    margin: 0 auto 148px;
    padding-top: 20px;
    max-width: 900px;
}


@media screen and (max-width: v.$spSize) {
    .contents {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

/***** Animation Proparties ******/

@-webkit-keyframes hover {
    0% {opacity: 1;}
    30% {opacity: 0;transform: scaleX(1.6);}
    50% {opacity: 1;transform: scaleX(1.2);}
    85% {opacity: 0;transform: scaleX(1);}
    100% {opacity: 1;transform: scaleX(1);}
}

@keyframes hover {
    0% {opacity: 1;}
    30% {opacity: 0;transform: scaleX(1.6);}
    50% {opacity: 1;transform: scaleX(1.2);}
    85% {opacity: 0;transform: scaleX(1);}
    100% {opacity: 1;transform: scaleX(1);}
}

@-webkit-keyframes asobo {
    0% {opacity: 1;}
    30% {opacity: 1;transform: scaleY(4);}
    50% {opacity: 1;transform: scaleY(10);}
    85% {opacity: 1;transform: scaleY(40);}
    100% {opacity: 0;transform: scaleY(100);}

}

@keyframes asobo {
    0% {opacity: 1;}
    30% {opacity: 1;transform: scaleY(4);}
    50% {opacity: 1;transform: scaleY(10);}
    85% {opacity: 1;transform: scaleY(40);}
    100% {opacity: 0;transform: scaleY(100);}


}

@keyframes siteTitle {
    0% {transform: none;}
    33% {transform: none;}
    33.3% {transform: skewX(4deg);}
    33.6% {transform: skewX(-1deg);}
    33.9% {transform: none;}
    66% {transform: none;}
    66.3% {transform: skewX(2deg);}
    66.6% {transform: skewX(-2deg);}
    66.9% {transform: none;}
    77% {transform: none;}
    77.3% {transform: skewX(2deg);}
    77.6% {transform: skewX(-6deg);}
    77.9% {transform: none;}
}

@-webkit-keyframes siteTitle {
    0% {-webkit-transform: none;transform: none;}
    33% {-webkit-transform: none;transform: none;}
    33.3% {-webkit-transform: skewX(4deg);transform: skewX(4deg);}
    33.6% {-webkit-transform: skewX(-1deg);transform: skewX(-1deg);}
    33.9% {-webkit-transform: none;transform: none;}
    66% {-webkit-transform: none;transform: none;}
    66.3% {-webkit-transform: skewX(2deg);transform: skewX(2deg);}
    66.6% {-webkit-transform: skewX(-2deg);transform: skewX(-2deg);}
    66.9% {-webkit-transform: none;transform: none;}
    77% {-webkit-transform: none;transform: none;}
    77.3% {-webkit-transform: skewX(2deg);transform: skewX(2deg);}
    77.6% {-webkit-transform: skewX(-6deg);transform: skewX(-6deg);}
    77.9% {-webkit-transform: none;transform: none;}
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-8%, 5%) }
    30% { transform:translate(7%, -15%) }
    40% { transform:translate(-5%, 15%) }
    50% { transform:translate(-8%, 10%) }
    60% { transform:translate(8%, 0%) }
    70% { transform:translate(0%, 8%) }
    80% { transform:translate(3%, 20%) }
    90% { transform:translate(-8%, 8%) }
}

@-webkit-keyframes grain {
    0%, 100% { -webkit-transform:translate(0, 0); transform:translate(0, 0) }
    10% { -webkit-transform:translate(-5%, -10%); transform:translate(-5%, -10%) }
    20% { -webkit-transform:translate(-8%, 5%); transform:translate(-8%, 5%) }
    30% { -webkit-transform:translate(7%, -15%); transform:translate(7%, -15%) }
    40% { -webkit-transform:translate(-5%, 15%); transform:translate(-5%, 15%) }
    50% { -webkit-transform:translate(-8%, 10%); transform:translate(-8%, 10%) }
    60% { -webkit-transform:translate(8%, 0%); transform:translate(8%, 0%) }
    70% { -webkit-transform:translate(0%, 8%); transform:translate(0%, 8%) }
    80% { -webkit-transform:translate(3%, 20%); transform:translate(3%, 20%) }
    90% { -webkit-transform:translate(-8%, 8%); transform:translate(-8%, 8%) }
}

@-webkit-keyframes fade-blur {
    0% {
      opacity: 1;
    }
  
    10% {
      opacity: 1;
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }

    55% {
      opacity: 1;
      -webkit-filter: blur(0);
      filter: blur(0);
    }
  
    100% {
      opacity: 0;
      -webkit-filter: blur(0);
      filter: blur(0);
    }
  }
  
  @keyframes fade-blur {
    0% {
      opacity: 0;
    }
  
    10% {
      opacity: 1;
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }

  
    55% {
      opacity: 1;
      -webkit-filter: blur(0);
      filter: blur(0);
    }
  
    100% {
      opacity: 0;
      -webkit-filter: blur(0);
      filter: blur(0);
    }
  }