@use './variables.scss' as v;

.top__menuwrapper {
    position: fixed;
    top: 14rem;
    left: 4rem;
    z-index: 3;

    // SP
    @media screen and ( max-width: v.$spSize ) {
        left: 2rem;
        top: 1rem;
        width: 70%;
    }
}

.top__menulist {

    &__item {
        padding-bottom: 24px;
        cursor: pointer;
        font-size: 1.6rem;
        text-shadow: v.$textShadow;
    }

    &__item:hover {
        color: v.$hoverRed;
        -webkit-animation: hover 0.1s ease forwards;
        animation: hover 0.1s ease forwards;
    }

    // SP
    @media screen and ( max-width: v.$spSize ) {

        &__item {
            font-size: 1.4rem;
            display: inline-block;
            padding-right: 16px;
        }
    }
}


.footer__menuwrapper {
    padding-top: 100px;
}

.footer__menulist {
    display: flex;
    justify-content: flex-end;
    padding-top: 24px;

    &__item {
        z-index: 1;
        cursor: pointer;
        padding-right: 16px;
        text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    }

    &__item:hover {
        color: v.$hoverRed;
        -webkit-animation: hover 0.1s ease forwards;
        animation: hover 0.1s ease forwards;
    }

    &__item:last-of-type {
        padding-right: 0;
    }

    // SP
    @media screen and ( max-width: v.$spSize ) {
        display: none;
    }
}