@use './variables.scss' as v;


.top__snsbtn {
    
    ul {
        display: flex;
    }
}

.footer__snsbtn {

    ul {
        display: flex;
        justify-content: flex-end;
        margin-top: 24px;
    }

    @media screen and (max-width: v.$spSize) {
        display: none;
    }
}