@use './variables.scss' as v;


.top__snsbtn {
    
    ul {
        display: flex;
        transition: .21s;
        visibility: hidden;
        opacity: 0;
    }

    .onDisplay {
        transition: .2s;
        visibility: visible;
        opacity: 1;
    }

    @media screen and (max-width: v.$spSize) {
        ul,
        .onDisplay {
            transition: 0s;
            justify-content: center;
        }
    }
}

.footer__snsbtn {

    ul {
        display: flex;
        justify-content: flex-end;
    }

    @media screen and (max-width: v.$spSize) {
        display: none;
    }
}

.sns__item {
    padding-bottom: 24px;
    cursor: pointer;
    font-size: 1.6rem;
    text-shadow: v.$textShadow;

    a {
        text-decoration: none;
        color: v.$white;
    }
    

    &:hover {
        a {
            color: v.$hoverRed;
        }

        -webkit-animation: hover 0.1s ease forwards;
        animation: hover 0.1s ease forwards;
    }

    @media screen and (max-width: v.$spSize) {
        font-size: 1rem;
        padding-bottom: 0;

        a {
            color: v.$red;
        }
    }
}