@use './variables' as v;

#story {

    &.story {

        .story__wrapper {

            span {
                color: v.$red;
            }

            .story__strong {
                padding-bottom: 2.4rem;
                font-size: 3rem;

                p {
                    padding-bottom: 2rem;
                }

                p:last-of-type:after {
                    content: " ――――――――";
                    letter-spacing: -4px;
                }
            }
        }

        // SP
        @media screen and (max-width: v.$spSize) {
            .story__wrapper {

                .story__top_strong:nth-child(2) {
                    display: inline-block;
                }

                .story__strong {
                    font-size: 2rem;

                    p:last-of-type:after {
                        content: " ―――";
                    }
                }
            }
        }
    }
}